@import 'tailwindcss';

/* Draggable zone styles */
.-webkit-app-region-drag {
  -webkit-app-region: drag;
}

.-webkit-app-region-no-drag {
  -webkit-app-region: no-drag;
}

.telemetry-container {
  border: 2px solid transparent;

  &.is-unlocked {
    border: 2px solid #3b82f6;
    cursor: default;
    user-select: none;
  }
}

/* Pedal graph styles */
#pedalsGraph {
  image-rendering: crisp-edges;
}
