@import 'tailwindcss';

@theme {
  --color-lmu-900: #021a38;
  --color-lmu-500: #0b5ab8;
  --color-throttle: #00ff00;
  --color-brake: #ff1e44;
}

/* Draggable zone styles */
.-webkit-app-region-drag {
  -webkit-app-region: drag;
}

.-webkit-app-region-no-drag {
  -webkit-app-region: no-drag;
}

.telemetry-container {
  border: 2px solid transparent;

  &.is-unlocked {
    border: 2px solid #3b82f6;
    cursor: default;
    user-select: none;
  }
}
